@keyframes popup-show {
    0% {
        transform: scale(.7);
    }

    45% {
        transform: scale(1.05);
    }

    80% {
        transform: scale(.95);
    }

    100% {
        transform: scale(1);
    }
}