.btn-group {
    display: flex;
    align-items: center;

    flex-wrap: wrap;
}

.btn-group.center {
    justify-content: center;
}

.btn {
    display: flex;
    align-items: center;
    margin: 1.5vh;

    border-radius: 10vh;
    border: solid 2px #fff;
    padding:  0.8vh 1vw;

    transition: all 0.3s ease-in-out;

    font-weight: 500;

    cursor: pointer;

    text-align: center;
    user-select: none;
}

.btn.big {
    padding: 1.4vh 1vw;
    border-width: 3px;
}

.btn.small {
    padding:  0.6vh 0.8vw;
    font-weight: normal;
    font-size: 1.8vh;

    margin: 1vh 0.6vh;
}

.btn.lite {
    font-size: 1.5vh;
    padding:  0.4vh 0.6vw;
}

.btn.inverted {
    background-color: #4A50C0;
    border-color: #4A50C0;
    color: #fff;
}

.btn.bordered {
    border-color: #4A50C0;
    color: #4A50C0;
    background-color: white;
}

.btn-icon {
    margin-right: 1vh;

    font-size: 2.5vh;
}

.btn.selected, .btn:hover {
    color: #4A50C0;
    background-color: #fff;
}

.btn.bordered.selected, .btn.bordered:hover {
    background-color: #4A50C0;
    color: white;
}

.btn-lbl {
    flex: 1;
}
