.page-content {
    background: url(/src/background.png);

    display: flex;
    justify-content: space-between;

    padding: 8vh 8vw;

    flex-wrap: wrap;
}

.page-highlight {
    padding: 7vh 8vw;
    background-color: #4A50C0;
    color: #fff;
}

.page-normal {
    background-color: #fff;
    color: #000;

    padding: 7vh 8vw;
}

.page-highlight.lite {
    background-color: #F5F5FF;
    color: #000;
}

.page-section {
    display: flex;
    justify-content: space-evenly;
}
